<html>

<head>
	<title>The Island</title>
	<link rel="stylesheet" type="text/css" href="../static/css/index.css?v=23"/>
</head>

<body>
	<div id="hide"></div>
	<div id="map">
		<div id="closeMap" onclick="map('hidden')">X</div>
		<img src="../static/img/mapwhite1.png" style="width:100%; height: 75%;">
		<div id="actionButtons">
			<div id='explore' class="option">
				<select id="x">
					<option value="" disabled selected></option>
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="C">C</option>
					<option value="D">D</option>
					<option value="E">E</option>
					<option value="F">F</option>
					<option value="G">G</option>
					<option value="H">H</option>
				</select>

				<select id="y">
					<option value="" disabled selected></option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
				</select>

				<button id="exploreBtn" onclick="go()">Go</button>
			</div>
		</div>
	</div>	
	<div id="content">
		<div id="stats">
			<label id="day"></label> - <label id="hour"></label>
			<label style="float:right;  padding-right: 50px">Location: <span id="location"/></label>
			<br>
			<label style="">Weight: <span id="weight"/></label>
			<p>
			<label>Food:</label>
			<br>
			<progress id="foodBar" value='0' max="100"></progress>
			<br>
			<label>Water:</label>
			<br>
			<progress id="waterBar" value='0' max="100"></progress>
			<br>
			<label>Stamina:</label>
			<br>
			<progress id="staminaBar" value='0' max="100"></progress>
			<p>
		</div>	

		<div id="tools">
		</div>

		<div id="stocks">
		</div>

		<div id="log">
			<div id="logtainer">
				<div id="logbook" style="height:100%; width:100%;">
				</div>
			</div>
			<div class="gradientback"></div>
		</div>

	</div>

	<script src="../static/js/player.js"></script>
	<script src="../static/js/regions.js"></script>
	<script src="../static/js/items.js"></script>
	<script src="../static/js/waterTypes.js"></script>
	<script src="../static/js/foodTypes.js"></script>
	<script src="../static/js/engine.js"></script>
	<script src="../static/js/gui.js"></script>
	<script src="../static/js/debug.js"></script>

</body>

</html>